USE [master]
GO
/****** Objeto: Database [PacientesCitasDB] Fecha de script: 1/9/2026 22:28:06 ******/
CREATE DATABASE [PacientesCitasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PacientesCitasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLSERVER3\MSSQL\DATA\PacientesCitasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PacientesCitasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLSERVER3\MSSQL\DATA\PacientesCitasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PacientesCitasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PacientesCitasDB]
GO
/****** Objeto: Table [dbo].[Citas] Fecha de script: 1/9/2026 22:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [datetime] NOT NULL,
	[Motivo] [varchar](200) NOT NULL,
	[Tratamiento] [varchar](200) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Medicos] Fecha de script: 1/9/2026 22:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](10) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Cargo] [varchar](100) NOT NULL,
	[Especialidad] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pacientes] Fecha de script: 1/9/2026 22:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](10) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([IdCita], [Fecha], [Hora], [Motivo], [Tratamiento], [Estado], [IdPaciente], [IdMedico]) VALUES (2, CAST(N'2026-09-01' AS Date), CAST(N'2026-09-01T10:30:00.000' AS DateTime), N'Control mensual', N'Fisioterapia', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([IdMedico], [Cedula], [Nombre], [Apellido], [Cargo], [Especialidad]) VALUES (1, N'0000000000', N'Médico', N'No Asignado', N'Pendiente', N'Pendiente de asignación')
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Telefono], [Estado]) VALUES (1, N'1234567890', N'Anthony', N'Llerena', N'0991234567', 1)
INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Telefono], [Estado]) VALUES (2, N'0987654321', N'Fernando', N'Pilatuña', N'0987651234', 1)
INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Telefono], [Estado]) VALUES (3, N'1712345678', N'Juan', N'Perez', N'0998765432', 1)
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Medicos] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medicos] ([IdMedico])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Medicos]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Pacientes] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Pacientes] ([IdPaciente])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Pacientes]
GO
USE [master]
GO
